<div class="create_section form">
<%= form_for([@chapter, @chapter.sections.build], remote: true) do |f| %>
  <p><%= radio_button_tag(:mode, "new") %> 新增
  <%= radio_button_tag(:mode, "url") %> HackPad連結</p>
  <p id="titleHere" style="display:none;"> 標題名稱 <%= f.text_field :title %></p>
  <p id="urlHere" style="display:none;"> HackPad連結 <input name='pad_url' id='pad_url'></p>
  <%= f.submit%>
<% end %>
</div>



