		<!--<div class="container">-->
			<!--<header class="clearfix">
				<span>NTHU CS</span>
				<h1>SCAD Fianl Project Group 7</h1>
				<nav>
				</nav>
			</header>-->
			<div id="main-menu">	
				<nav id="cbp-hrmenu" class="cbp-hrmenu">
					<ul>

						<% if current_user %>
								<li>
			      				<%= link_to 'Hi, '+current_user.name, favorite_home_path %>  <%= link_to '登出', signout_path ,:class=>'logout '%>
			      		</li>
			    			<% else %>
			    				<%= current_user %>
			    				<li>
			      					<%= link_to 'FB 登入', fb_login_path %>
			      				</li>
			    			<% end %>

						<li>
							<%= link_to 'Home' ,root_path %>
						</li>
						<li id="dadImHere">
							<a href="#">Courses</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner">
									<!--<div><a href="#">Learn Thai</a><span>NEW</span></div>-->
									<% get_all_notes %>
									<% @notes.each do |note| %>
 										<div><%= link_to note.title, note_path(note)%> </div>
									<% end %>
									<div><%= link_to '新增課程', new_note_path, :class => 'insert-note' %><div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<!--
						<li style="width:600px;">
							<div class="searchtag">
								<ul id="search-tag-field" name="search-tag-field"></ul>
									<button id="SearchTag" value="SearchTag">Search</button>
							</div>-->
						<li>
							<div class="searchContainer">
							<%= form_tag("/home/search", method: "get") do %>
							  <%= search_field_tag(:search,nil,placeholder: 'Enter search term...') %>
								
    							<button type="submit" class="icon search-btn"><i class="fa fa-search"></i></button>
    						</div> 
    					<% end %>
						</li>
						<% if controller.controller_name == "sections"&& controller.action_name == "show"%>
						<div id = "section-toolbar">		
							<div class="switch">
						      <input type="radio" class="switch-input" name="view" value="Note" id="week" checked>
						      <label for="week" class="switch-label switch-label-off">筆記</label>
						      <input type="radio" class="switch-input" name="view" value="Q&amp;A" id="month">
						      <label for="month" class="switch-label switch-label-on">Q&amp;A</label>
						      <span class="switch-selection"></span>
						    </div> 
						    
						    
								
						    	<% @like_num = get_section_like_num %>
						    	<div class="section-collection">
						    		<%if get_section_like.is_bookmark %>
						    			<i id="<%=get_section_like.id%>" type="bookmark" class="fa fa-star section-collection-icon icon like-state"></i>
						    		<% else %>
						    			<i id="<%=get_section_like.id%>" type="bookmark" class="fa fa-star section-collection-icon icon"></i>
						    		<% end %>
						    	</div>

						    	<div class="section-like">
						    		<%if get_section_like.is_like%>
						    		<i id="<%=get_section_like.id%>" type="like" class="fa fa-heart icon-center icon like-state"></i>
						    		<%else%>
						    		<i id="<%=get_section_like.id%>" type="like" class="fa fa-heart icon-center icon"></i>
						    		<% end %>

						    		<div><span><%=@like_num%></span> likes</div>
						    	</div>
						    </div>
					    <% end %>
					    <!--<div id="log"></div>-->
					</ul>
				</nav>
			</div>
			
				
			
		<!--</div>-->
		
		<script>
			$(function() {
				cbpHorizontalMenu.init();
				console.log('ewrs');
			});
		</script>
