<div class="side-note">
  <!-- course title -->
  <% if current_note%>
  
    <div class="courseTitle" id="<%=current_note.id%>"><%= current_note.title %></div>
    
    <!-- <li id="chapter_out" class="ui-state-chapter"> -->
        <!-- <div class="chapter-header">Ch1</div> -->
        <!-- <ul id="section1" class="connectedSortable"> -->
          <!-- <li class="ui-state-default">1.1</li>
          <li class="ui-state-default">1.2</li>
          <li class="ui-state-default">1.3</li> -->

          <!-- notyet
          <li class="ui-state-default">1.4 <input type="button" onclick="del(this.parentNode)" value="delete"></li>
          <li class="ui-state-default"><span>1.5</span><input type="button" onclick="edit(this.parentNode)" value="edit"></li> -->


        <!-- </ul> -->

        <!-- notyet
        <input type="button" onclick="addSec(1)" value="Add Section"> -->
    <!-- </li> -->
    
    <ul id="chapter">
      <% current_note.chapters.each do |chapter|%>
      <li id="chapter_out" class="ui-state-chapter">
        <div class="chapter-header">
          Ch <%= chapter.index%> <%= best_in_place chapter,:title, :class => 'bip-chapter-title',:chapter_id => chapter.id  %>
        </div>
        <div class="closeThis">
          <ul id="section<%=chapter.id%>" class="connectedSortable">
            <% chapter.sections.each do |section|%>
              
                <li class="ui-state-default" id="sec<%=section.id%>">
                  <div class="sec-header">
                    <%= link_to section.title, note_chapter_section_path(current_note,chapter,section)%>
                  </div>
                </li>
            <% end %>
          </ul>
          <%= link_to '新增段落' , new_note_chapter_section_path(current_note,chapter)%>
        </div>
      </li>
      <% end %> 
    </ul>
    

      <%= button_tag(:type=> 'button', :class => 'add_chapter_button') do %>
        <%content_tag(:strong, '新增章節')%>
      <%end%>

  <% end %>

  <input type="button" value="edit" onclick="move()">
  <input type="button" value="nonedit" onclick="nonmove()">
</div>
