<div class="side-note">
  <!-- course title -->
  <div class="addtag">
    <ul id="demo" name="demo" class="tagit ui-sortable"><li class="tagit-choice tagit-type-none" tagvalue="ee"><div class="tagit-label">ee</div><a class="tagit-close">x</a></li>
    <li class="tagit-choice tagit-type-none" tagvalue="qq"><div class="tagit-label">qq</div><a class="tagit-close">x</a></li>
    </ul>
  </div>
  <% if current_note%>

    <div class="note" id="<%=current_note.id%>"><%= current_note.title %></div>
    <!--likes-->
    <div class="course-like"><i class="fa fa-heart icon-center"></i><span><%=get_note_like_num%></span></div>    

      <ul id="chapter">
        <% current_note.chapters.each do |chapter|%>
        <li id="chapter_out" class="ui-state-chapter chapter-style">
          <div id="chapterHeader<%=chapter.id%>" class="chapter-header">
            <button class="delButton" onclick="deleteChapter(this.parentNode)"><i class="fa fa-times"></i></button>
            Ch <%= chapter.index%> <%= best_in_place chapter,:title, :class => 'bip-chapter-title',:chapter_id => chapter.id  %>
          </div>
          <div class="closeThis">
            <ul id="section<%=chapter.id%>" class="connectedSortable">
              <% chapter.sections.each do |section|%>
                <li class="ui-state-default section-style" id="sec<%=section.id%>">
                  <div class="sec-header">
                    <button class="delButton" onclick="deleteSection(this.parentNode.parentNode)"><i class="fa fa-times"></i></button>
                    <%= link_to section.title, note_chapter_section_path(current_note,chapter,section)%>
                  </div>
                </li>
              <% end %>
            </ul>
            <div class="insert-new-section-li">
              <%= link_to '新增' , new_note_chapter_section_path(current_note,chapter), :class => 'insert-new-section'%>
            </div>
          </div>
        </li>
        <% end %> 
      </ul>

    
      <div id="sidebar-button-set">
        <input id="edit" type="button" value="編輯" onclick="move()">
        <input id="nonedit" type="button" value="完成" onclick="nonmove()">
        <%= button_tag(:type=> 'button', :class => 'add_chapter_button', :id => 'insert-new-chapter') do %>
          <%content_tag(:div, '新增章節')%>
        <%end%>
      </div>
  <% end %>


</div>
