<!DOCTYPE html>
<html>
<head>
  <title>一起學</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track'=>true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/menu' %>

    
  </div>
  <div class="row main-index-row">
    <%= yield %>
    
    <% (1...1).each do |i| %>
        <p>tt</p> 
    <% end -%>
</div>
</div>

</body>
</html>